.navigation {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background: #ffffff;
  border: 1px solid #d5d7e5;
  border-radius: 2px;
  width: 93px;
  height: 42px;
  padding: 11px 17px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #2a2b8d;
  cursor: pointer;
}

.button:first-child {
  margin-right: 10px;
}

.button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button:hover:not([disabled]) {
  opacity: 0.8;
}